.about-section {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.about-container {
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
  }
}

.about-text {
  font-family: 'Akshar', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57143;
  text-align: center;
  color: #f0f0f0;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    max-width: 477px;
    margin-bottom: 0;
  }
}

.about-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    display: none;
  }
}

.about-list-wrapper-desk {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
  }
}

.about-list-item {
  box-shadow: inset 0 0 12px 0 rgba(2, 18, 54, 0.4);
  border-radius: 16px;
  padding: 24px 20px;
  max-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    max-width: 170px;
  }
}

.about-yellow-item {
  background: #fcd064;
  min-height: 120px;
}

.about-purple-item {
  background: #d592f5;
  min-height: 180px;
}

.about-green-item {
  background: #7be68b;
  min-height: 150px;
}

.about-blue-item {
  background: #53d1fe;
  min-height: 150px;
}

.about-orange-item {
  background: #f89858;
  min-height: 120px;
}

.about-red-item {
  background: #f0878e;
  min-height: 180px;
}

.about-item-text {
  font-family: 'Akshar', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #021236;

  @include media(desktop) {
    font-size: 16px;
  }
}
