.footer {
}

.footer-bg-wrapper {
  background: #021236;
  padding-top: 32px;
  padding-bottom: 207px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/footer/footer-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 258px;
    padding-bottom: 56px;
    max-width: 1440px;
    background-image: url(../img/footer/footer-bg-desk.jpg);
    background-repeat: no-repeat;
    background-position: center right;
  }
}

.footer-container {
  @include media(desktop) {
    padding: 0 88px;
  }
}

.footer-nav {
  margin-bottom: 38px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @include media(desktop) {
    justify-content: start;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Akshar', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f0f0f0;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Akshar', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f0f0f0;
  text-align: center;

  @include media(desktop) {
    text-align: left;
  }
}
