.gameplay-section {
}

.gameplay-bg-wrapper {
  padding-top: 48px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 72px;
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-container {
}

.gameplay-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
}

.gameplay-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;

  @include media(desktop) {
    width: 100%;
    max-width: 663px;
    margin-bottom: 0;
  }
}

.gameplay-list-item {
  display: flex;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.star-icon {
  min-width: 16px;
}

.gameplay-item-text {
  font-family: 'Akshar', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #f0f0f0;

  @include media(desktop) {
    font-size: 20px;
  }
}

.gameplay-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 452px;
    margin: 0;
  }
}
