.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 46px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 227px;
    padding-bottom: 227px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    position: relative;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 642px;
    margin-left: auto;
    margin-right: 109px;
  }
}

.hero-main-title {
  text-shadow: 1px 2px 1px 0 rgba(7, 27, 73, 0.4);
  font-family: 'Akshar', sans-serif;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  color: #f0f0f0;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 48px;
    text-align: left;
    max-width: max-content;
    margin: 0;
    margin-bottom: 48px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    position: absolute;
    top: 51px;
    left: 189px;
  }
}

.hero-text {
  text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.6);
  font-family: 'Akshar', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #021236;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    max-width: max-content;
    margin: 0;
  }
}
