.policy-section {
  background: #f0f0f0;
  padding-top: 96px;
  padding-bottom: 40px;

  @include media(desktop) {
    padding-top: 128px;
    padding-bottom: 48px;
  }
}

.policy-main-title {
  font-family: 'Akshar', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #021236;
  text-align: center;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Akshar', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #021236;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Akshar', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #021236;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Akshar', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #021236;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
