<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">How to Play</h2>
      <div class="gameplay-content-wrapper">
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <svg class="star-icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-yellow"></use>
            </svg>
            <p class="gameplay-item-text">
              Match 3 or more tiles to clear the board.
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="star-icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-rose"></use>
            </svg>
            <p class="gameplay-item-text">Complete daily quests for bonuses.</p>
          </li>
          <li class="gameplay-list-item">
            <svg class="star-icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-green"></use>
            </svg>
            <p class="gameplay-item-text">
              Collect boosters for harder puzzles.
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="star-icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-pink"></use>
            </svg>
            <p class="gameplay-item-text">
              Earn up to 3 stars per level based on moves or score.
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="star-icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-blue"></use>
            </svg>
            <p class="gameplay-item-text">
              Progress through themed worlds and seasonal events.
            </p>
          </li>
          <li class="gameplay-list-item">
            <svg class="star-icon" width="16" height="16">
              <use href="./img/sprite.svg#icon-orange"></use>
            </svg>
            <p class="gameplay-item-text">
              Get all 3 stars and you'll unlock some hidden stages (trust us,
              they're worth it).
            </p>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="452"
            height="260" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="343"
            height="197" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="197"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
