<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">
          Match tiles, clear the board, and hey – unlock some pretty cool hidden
          worlds while you're at it.
        </h1>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="396"
            height="659" />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="280"
            height="465" />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="280"
            height="465"
        /></picture>
        <p class="hero-text">
          Bonusjet's a colorful match-3 game where nailing those perfect runs
          actually gets you into secret levels with some sweet rewards.
        </p>
      </div>
    </div>
  </div>
</section>
